[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap-v5 = "*"
pillow = "*"
requests = "*"
django-static-jquery = "*"
djangoajax = "*"
django-bootstrap-static = "*"
behave-django = "*"
selenium = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
