

.userIcon {
    padding: 5px
}


.leftNav{
    margin-right: 10px;
}



.container{
    text-align: center;
}


.card{
  padding-top: 1%;
  background-color: #383838;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  width: 300px;
  margin-bottom: 1%;
  color: white;
}




.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bookImg {
  margin: auto;
  width: 128px;
  height: 198px;
}


header {
    background-color: #1F1F1F;
    margin-bottom: 1%;
}




.bookInfoCard{
    background-color: #383838;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 1%;
    color: white;
}


.bookInfoCard .authorName {
    display: inline-block;
}




.bookInfoCard .bookImageContainer {
    margin-bottom: 1%;
}


.btn-outline, .btn-outline:hover {
    border: 1px solid white;
    color: white;
}



.input-group-append .btn-outline {
    margin-right: 1%;
}
