{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/authPages.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}




    {% block content %}
    {% endblock %}
</div>

</body>
</html>