{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReadingList</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

</head>
<body style="background-color: #121212;">


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<header class="p-3 text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
        <div class="leftNav">
            <a class="navbar-brand" type="button" data-toggle="modal" data-target="#exampleModal">
                {% if userImg %}
                <img class="rounded-circle" src={{userImg.url}} width=50 height=50>
                {% else %}
                <div class="userIcon border border-secondary rounded-circle" width=50 height=50>{{userInitial}}
                </div>
                {% endif %}
            </a>

            {{username}}
        </div>

        <div>
            <form method="GET" action="{% url 'searchResultView' %}">

                <div class="input-group">

                    <input type="text" class="form-control" id="bookName" name="bookName"
                           placeholder="Book name"
                           aria-label="Book name"
                           aria-describedby="basic-addon1">

                    <div class="input-group-append">
                        <button class="btn btn-outline" type="submit">Search</button>


                        <a class="btn btn-outline" href="{% url 'dashView'  %}" role="button">
                            Home
                        </a>

                        <a class="btn btn-outline-danger" href="{% url 'processLogout' %}" role="button">
                            Logout
                        </a>
                    </div>


                </div>
            </form>

        </div>
    </div>
</header>

<div class="container">


    {% block content %}
    {% endblock %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Account Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <input type="file" id="myFile" name="filename">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save User Image</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</div>


<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>




