{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>

<div class="container">


    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
                <div class="leftNav">
                    <a class="navbar-brand" href="#">
                        {% if userImg %}
                        <img class="rounded-circle" src={{userImg.url}} width=50 height=50>
                        {% else %}
                        <div class="userIcon border border-secondary rounded-circle" width=50 height=50>{{userInitial}}
                        </div>
                        {% endif %}
                    </a>

                    {{username}}
                </div>

                <div class="d-flex">
                    <form method="GET" action="{% url 'searchResultView' %}"
                          class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="bookName" name="bookName"
                                   placeholder="Book name"
                                   aria-label="Book name"
                                   aria-describedby="basic-addon1">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </form>


                    <form action="{% url 'processLogout' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">

                        <button type="submit" class="btn btn-outline-danger">Logout</button>

                    </form>
                </div>

            </div>
        </div>
    </header>


    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">


        </div>
    </nav>


    {% block content %}


    {% endblock %}
</div>

</body>
</html>




