{% extends 'base.html' %}


{% block content %}




<div class="bookInfoCard">
    <div class="bookImageContainer">
        <img
                src={{imageLinks.thumbnail}}
                alt={{title}} image
        >
    </div>

    <!--Book Title-->
    <h5>{{volumeInfo.title}}</h5>


    <div class="AuthorInfo">
        <!--pluralize "author id needed"-->
        {% with total=volumeInfo.authors%}
            Author{{ total|pluralize }}:
        {% endwith %}

        {% for author in authors %}
            {{author}}&nbsp;&nbsp;
        {% endfor%}
    </div>

    <div>
        Published by {{publisher}} on {{publishedDate}}
    </div>



    <!--isbn information-->
    <div class="ISBNInfo">
        {% for isbn in industryIdentifiers %}
            {{isbn.type}} : {{isbn.identifier}} &nbsp;&nbsp;
        {% endfor%}
    </div>

    <hr/>

    <!--  Book description is in html tag formats therefore we keey autoexcape    -->
    {% autoescape off %}
        {{description}}
    {% endautoescape %}


</div>


{% endblock %}
