{% extends 'base.html' %}


{% block content %}




<div class="bookInfoCard">
    <div class="bookImageContainer">
        <img
                src={{volumeInfo.imageLinks.thumbnail}}
                alt={{volumeInfo.title}} image
        >
    </div>

    <!--Book Title-->
    <h5>{{volumeInfo.title}}</h5>


    <div class="AuthorInfo">
        <!--pluralize "author id needed"-->
        {% with total=volumeInfo.authors%}
            Author{{ total|pluralize }}:
        {% endwith %}

        {% for author in volumeInfo.authors %}
            {{author}}&nbsp;&nbsp;
        {% endfor%}
    </div>

    <div>
        Published by {{volumeInfo.publisher}} on {{volumeInfo.publishedDate}}
    </div>



    <!--isbn information-->
    <div class="ISBNInfo">
        {% for isbn in volumeInfo.industryIdentifiers %}
            {{isbn.type}} : {{isbn.identifier}} &nbsp;&nbsp;
        {% endfor%}
    </div>

    <hr/>
    <p>{{volumeInfo.description}}</p>

</div>


{% endblock %}
