{% extends 'base.html' %}


{% block content %}
    {% for book in books %}
        <div class="card">
            <div style="display: block">
                <div style="width: 128px; margin: auto;">
                    <img src={{book.bookImgUrl}} class="card-img-top bookImg" alt="...">
                </div>
            </div>

            <div class="card-body">
                <div>
                    <h5 class="card-title">{{book.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>

                <div>
                    <a href="#" class="btn btn-primary">More Detail</a>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>

            </div>
        </div>
    {% endfor %}


{% endblock %}
