{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/dash.css'%}">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                {% if userImg %}
                    <img class="rounded-circle" src={{userImg.url}} width=50 height=50 >
                {% else %}
                    <div class="userIcon border border-secondary rounded-circle" width=50 height=50>{{userInitial}}</div>
                {% endif %}
            </a>

            {{username}}
            <form action="{% url 'processLogout' %}">
                <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>

        </div>
    </nav>
</div>
</body>
</html>