{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                {% if userImg %}
                    <img src="{{userImg.url}}">
                {% else %}

                {% endif %}
            </a>

            {{username}}
        </div>
    </nav>
</div>
</body>
</html>