{% extends 'authBase.html' %}


{% block content %}

    <div class="wrapper fadeInDown" >
        <div id="formContent">
            <h1>Login</h1>

            <form method="POST" action="{% url 'processLogin' %}">
                {% csrf_token %}
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <div id="formFooter">
                <a class="underlineHover" href="/signup"> Need to register? Sign up</a>
            </div>

        </div>
    </div>
{% endblock %}
