{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatroom App</title>
    <link rel="stylesheet" href="{% static 'css/authPages.css' %}">

</head>


<body>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>Login Here</h1>

        <form method="POST" action="{% url 'processLogin' %}">
            {% csrf_token %}
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="/signup"> Create an account</a>
        </div>

    </div>
</div>
</body>
</html>