{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% for book in items %}
        <div class="card">
            <div style="display: block">
                <div style="width: 128px; margin: auto;">
                    {% if book.volumeInfo.imageLinks.thumbnail %}
                        <img src={{book.volumeInfo.imageLinks.thumbnail}} class="card-img-top bookImg" alt="...">
                    {% elif book.volumeInfo.imageLinks.smallThumbnail %}
                        <img src={{book.volumeInfo.imageLinks.smallThumbnail}} class="card-img-top bookImg" alt="...">
                    {% else %}
                        <img src="{% static 'noImgData.png' %}" class="card-img-top bookImg" alt="...">
                    {% endif %}
                </div>
            </div>

            <div class="card-body">
                <div>
                    <h5 class="card-title">{{book.safeTitle}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>

                <div>

                    <form method="post" action="{% url 'processAddToReadingList'%}">
                        {% csrf_token %}
                        <input type="hidden" value ={{book.id}} name="bookId" id="bookId" >
                        <button type="submit" class="btn btn-secondary">Add To Your List</button>
                    </form>






                    <a href="{% url 'bookInfoView' book.id %}" class="btn btn-info">Book Info</a>
                </div>

            </div>
        </div>
    {% endfor %}


{% endblock %}
