{% extends 'authBase.html' %}


{% block content %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Sign Up</h1>

            <form method="POST" action="{% url 'processSignup' %}">
                {% csrf_token %}
                <input type="text" id="id_username" class="fadeIn second" name="username" placeholder="username">
                <input type="text" id="id_password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>

            <div id="formFooter">
                <a class="underlineHover" href="/">Already registered? Login</a>
            </div>

        </div>
    </div>
{% endblock %}
